.articleList {
	text-align: center;
}

.main {
	margin: 0 auto;
	width: 700px;
	text-align: center;
}
.aticle-title{
	font-size: 26px;
}

.aticle-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.post-meta {
    margin: 3px 0 30px 0;
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    text-align: center;
}
.post-body{
	text-align: left;
}

.post-footer {
	padding: 5px 0px 5px 0px;
}

.pagination {
    margin: 40px 0 40px;
    text-align: center;
    border-top: 1px solid #eee;
}

.page-number {
    border-bottom: 0;
    border-top: 1px solid #eee;
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    display: inline-block;
    position: relative;
    
    top: -1px;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 30px;
}