<!DOCTYPE html>
<html lang="zh">
<head>
<title>首页</title>
<meta charset="utf-8" />
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title>BLB</title>
<link rel="stylesheet"
  href="${basePath}/css/plugins/markdown/css/editormd.css" />
<link rel="stylesheet"
  href="${basePath}/css/plugins/bootstrap/css/bootstrap.css" />

<script src="${basePath}/js/jquery-3.3.1.js"></script>
<script src="${basePath}/js/plugins/bootstrap/js/bootstrap.js"></script>
<script src="${basePath}/vue/vue-resource.js"></script>
<script src="${basePath}/vue/vue.js"></script>
<style>

</style>
</head>
<body>
  <!--Header_section-->
  <header id="header_wrapper">
    <div id="main_menu">
     <main_menu_comp :menu="menu"></main_menu_comp>
    </div> 
  </header>
  <div id="main" class="main">
	  <div id = "articleList">
	    <perview-component v-for="(item,index) in articles" :article="item" :key="index"></perview-component>
	    <pagination_component :pagecofig="article_page_cofig"></pagination_component>
	  </div>
  </div>
  <div id="back_to_top">
     <back_to_top></back_to_top>
  </div>
  <footer class="footer_wrapper" id="contact">
    <div id="main_footer">
      <main_footer_comp></main_footer_comp>
    </div>
  </footer>
</body>
<link rel="stylesheet" href="${basePath}/vue/component/main_menu/main_menu.css" />
<script menuUrl="${basePath}/menu" src="${basePath}/vue/component/main_menu/main_menu.js"></script>
<link rel="stylesheet" href="${basePath}/vue/component/preview/preview.css"/>
<script src="${basePath}/vue/component/preview/preview.js"></script>
<script type="text/javascript">
  
</script>
</html>