<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8" />
<title>博客一览</title>
<link rel="stylesheet"
	href="${basePath}/css/plugins/markdown/css/style.css" />
<link rel="stylesheet"
	href="${basePath}/css/plugins/markdown/css/editormd.css" />
<link rel="stylesheet"
	href="${basePath}/css/plugins/bootstrap/css/bootstrap.css" />
<link rel="stylesheet"
	href="${basePath}/css/plugins/bootstrap/css/bootstrap-treeview.css" />

<script src="${basePath}/js/jquery-3.3.1.js"></script>
<script src="${basePath}/js/plugins/markdown/js/editormd.js"></script>
<script src="${basePath}/js/plugins/bootstrap/js/bootstrap.js"></script>
<script src="${basePath}/js/plugins/bootstrap/js/bootstrap-treeview.js"></script>
<script src="${basePath}/vue/vue.js"></script>
<script src="${basePath}/vue/vue-resource.js"></script>
</head>
<style>
#submit_button {
	display: block;
	margin-left: 42%;
	margin-top: 2em;
	margin-bottom: 2em;
}

.input {
	display: block;
	margin-left: 20%;
}

iframe {
	width: 100%;
	height: 100%;
	overflow: none;
}

ul {
	text-align: center;
	list-style-type: none;
}

ul li {
	display: inline;
	list-style-type: none;
}

.container {
	width: 100%;
	height: 100%;
}

</style>
<body>
	<header id="header_wrapper">
		<div id="main_menu">
			<main_menu_comp :menu="menu"></main_menu_comp>
		</div>
	</header>
	<div id="articleMenubar">
		<div class="article-Menu-bar">
			<i class="glyphicon glyphicon-list"></i>
		</div>
		<div id="articleMenu" class="articleMenu" hidden="hidden">
			<div id="articleTree"></div>
		</div>
	</div>
	<div id="contact" class="contact">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<div id="articleContent"
				class=" editormd-html-textarea"
				style="text-align: left;">${content}</div>
			
		</div>
	</div>
	<div class="sidebar" style="width: 0px;">
		目录
		<div id="catalog">
			<catalog :children="items.children" :name="items.name" :href="items.href"></catalog>
		</div>
	</div>
	<div id="back_to_top">
	   <back_to_top></back_to_top>
	</div>
	<footer class="footer_wrapper" id="contact">
		<div id="main_footer">
			<main_footer_comp></main_footer_comp>
		</div>
	</footer>
</body>
<link rel="stylesheet" href="${basePath}/vue/component/main_menu/main_menu.css" />
<script menuUrl="${basePath}/menu" src="${basePath}/vue/component/main_menu/main_menu.js"></script>
<link rel="stylesheet" href="${basePath}/vue/component/blog/blog.css" />
<script src="${basePath}/vue/component/blog/blog.js"></script>
<script type="text/javascript">
      function getTree(){
    	  var tree = {
		    	color: 'red',
		      backColor: '#FFFFFF',
		      state: {
            expanded: true,
          },
    	  };
    	  tree.data = [
              {
                  text: '第一章',
                  //icon: 'glyphicon',
                  //selectedIcon: 'glyphicon',
                  
                  href: '#01',
                  selectable: true,
                  tags: ['available'],
                  state: {
                      selected: true
                    },
                  nodes: [
                  {
                    text: '第一章第一节',
                   },
                   {
                     text: '第一章第二节',
                   }
                   ]
                  },
                  {
                    text: '第二章'
                  }
                ];
	    	return tree;
    	}
    	$('#articleTree').treeview(getTree());
    	
    $("#articleMenubar").mouseover(function(){
    	$("#articleMenu").prop("hidden",false);
    });
    $("#articleMenubar").mouseout(function(){
        $("#articleMenu").prop("hidden",true);
    });
		</script>
</html>