<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
		<title>BLB</title>
        <link rel="stylesheet" href="${basePath}/css/plugins/markdown/css/style.css" />
        <link rel="stylesheet" href="${basePath}/css/plugins/markdown/css/editormd.css" />
        <link rel="stylesheet" href="${basePath}/css/plugins/bootstrap/css/bootstrap.css" />
        
        <script src="${basePath}/js/jquery-3.3.1.js"></script>
        <script src="${basePath}/js/plugins/markdown/js/editormd.js"></script>
        <script src="${basePath}/js/plugins/bootstrap/js/bootstrap.js"></script>
        <style>
            #submit_button{
                display:block;
                margin-left: 42%;
                margin-top: 2em;
                margin-bottom: 2em;
            }
            .input{
                display: block;
                margin-left: 20%;
            }
        </style>
    </head>
    <body>
	    <!--Header_section-->
		<header id="header_wrapper">
		<div class="navbar navbar-default">
				<div class="container">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="javascript:void(0)"><i class="material-icons">BLB</i></a>
				  </div>
				  <div id="main-nav" class="navbar-collapse collapse navbar-responsive-collapse navStyle">
						<ul class="nav navbar-nav" id="mainNav">
						  <li class="active"><a href="javascript:void(0)" class="scroll-link">首页</a></li>
						  <li><a href="javascript:void(0)" class="scroll-link">博客</a></li>
						</ul>
						<form class="navbar-form navbar-right">
		                  <div class="form-group">
		                    <input type="text" class="form-control col-md-8" placeholder="搜索">
		                  </div>
		                </form>
				  </div>
				</div>
			  </div>
		</header>
		<div class="container">

		  <h1>500</h1>
		</div>
	<footer class="footer_wrapper" id="contact">
		<div class="container">
		<div class="footer_bottom"><span>Copyright &copy; 2019.Company name All rights <a href="http://127.0.0.1:8801/home/index" target="_blank" title="书博">BLB</a> - Collect from <a href="http://127.0.0.1:8801/home/index" title="书博" target="_blank">BLB</a></span> </div>
		</div>
	</footer>
    </body>
</html>